<!-- wp:template-part {"slug":"header","theme":"pft","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center">Projects we're working on...</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":8,"query":{"perPage":"3","pages":0,"offset":0,"postType":"project","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"displayLayout":{"type":"flex","columns":3}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}}} /-->

<!-- wp:awebfactory/render-single-meta-field {"selectedPostType":"project","selectedPostField":"awebfactory_project_description"} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Start date:</p>
<!-- /wp:paragraph -->

<!-- wp:awebfactory/render-single-meta-field {"selectedPostType":"project","selectedPostField":"awebfactory_project_start_date"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Estimated completion date:</p>
<!-- /wp:paragraph -->

<!-- wp:awebfactory/render-single-meta-field {"selectedPostType":"project","selectedPostField":"awebfactory_project_completion_date"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between","flexWrap":"nowrap"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">What's Project Flow & Tracker?</h2>
<!-- /wp:heading -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>A #BuildInPublic #LearnInPublic platform for open <a href="/projects" data-type="URL" data-id="/projects">projects</a> to find out about all this in detail and to pretty much flow right and follow your own projects too…</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>… running on WordPress Fullstack!</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Anyway, at a minimum, I'll be openly working on all my projects here. Sartre said, publish it or else it dies in a drawer…</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:heading -->
<h2 class="wp-block-heading">What is WordPress Fullstack?</h2>
<!-- /wp:heading -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Started Drupal in 2006. Stayed for the Community. Left because did not smell like teen spirit. They <a href="https://awebfactory.com/node/536/">didn't listen to Nedjo</a>, still don't… 3% of the web at last count…</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Java, Ruby on Rails…</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Started Node.js in 2011. Still there, although loving Deno.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>CouchDB in 2012</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>React in 2016</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Next.js, MongoDB in 2017</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Came to WordPress for the CMS and REST API and WPGraphQL in 2019. Blocks! 40% of the web! A durable productive force!</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>While WordPress was getting dressed, examined many JavaScript frontend and fullstack frameworks for a few years. All right! Svelte, Solid, Astro, Deno Fresh… the Next and the Nuxt, the Qwik… seeing those leading movements to <a href="https://twitter.com/RyanCarniato">stick together and share in community</a>, seeing those drowning in their arrogance…</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Then WordPress 6.1, now 6.2, was all dressed up block by block, api by api, and by design, two of four iterations done, just collaboration and i18n to go. So with some kind of content modeling support, this can be a fine Headless backend for project content creators and on the frontend, whichever JavaScript framework is best suited, to be chosen on a project-by-project basis.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Wait a minute… WordPress block-based themes and api and React based blocks <em>are</em> a frontend framework… With WordPress I got:</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Figma-<code>theme.json</code> single source of truth in code</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>With <a href="https://developer.wordpress.org/block-editor/reference-guides/packages/packages-create-block/">@wordpress/create-block</a> I can <a href="https://learn.wordpress.org/course/introduction-to-block-development-build-your-first-custom-block/">quickly scaffold</a> theme-independent custom blocks in React with access to all APIs…</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>…or <a href="https://learn.wordpress.org/course/using-the-wordpress-data-layer/">custom apps in React in the Admin UI</a></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>With <a href="https://learn.wordpress.org/tutorial/streamline-your-block-theme-development-with-create-block-theme/">straightforward, easy to use</a> <a href="https://wordpress.org/plugins/create-block-theme/">Create Block Theme</a> I got me <code>everything in code</code> as <code>single source of truth</code> for themes, and parts of themes, and global style variations, whatever.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Hang <a href="https://docs.astro.build/en/guides/cms/wordpress/">Astro</a> or Next or Nuxt or <a href="https://plus.rodneylab.com/tutorials/get-started-sveltekit-headless-wordpress">SvelteKit</a> off of the REST API or WPGraphQL and either do frontend apps, or straightforward static site generation.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>And even in terms of plugins I doubt we're limited to React … 4 years ago, a <a href="https://github.com/dylanblokhuis/svelte-wordpress-plugin">Svelte plugin</a></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:quote -->
<blockquote class="wp-block-quote"><!-- wp:paragraph -->
<p>So… WordPress Fullstack!</p>
<!-- /wp:paragraph --></blockquote>
<!-- /wp:quote --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"pft","tagName":"footer"} /-->